---
import { NavbarDemo } from "../components/ui/navbar-menu";
import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body class="bg-background fixed size-full">
        <!-- <div class="spotlight-ray">
            <div class="spotlight"></div>
        </div> -->
        <div class="lightsource"></div>
        <div class="ray"></div>
        <div class="size-full flex flex-col items-center justify-center">
            <NavbarDemo client:load />
            <div class="text-white">Welcome!</div>
        </div>
    </body>
</html>
